#App {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	background: lightblue;

	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.App {
	position: relative;
	width: 100%;
	max-width: 1000px;
	min-height: 1000px;
	margin: 50px;
	background-color: #fff;

	display: flex;
}

.header {
	position: relative;
	background-color: #003147;
	padding: 40px;
	flex: 1;
}

.content {
	position: relative;
	background-color: #fff;
	padding: 40px;
	width: 100%;
	flex: 2;
}
