* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#title {
	color: #fff;
	font-size: 28px;
	font-weight: 600;
	margin-top: 50px;
	margin-bottom: 10px;
}

#container {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100vw;
	height: 100vh;

	background-color: cadetblue;
}

#screen {
	width: 500px;
	height: 100px;
	text-align: start;
	padding: 10px 20px;

	margin: 10px 0 40px 0;
	border: none;
}

.method-container {
	display: flex;
	flex-direction: column;
	row-gap: 3px;
}

.input-text {
	border-radius: 5px;
	border: none;
	padding: 8px 30px;
	min-width: 500px;
}

.input-button {
	width: 100px;
	padding: 5px 20px;
	border-radius: 5px;
	border: 2px solid red;
	align-self: flex-end;
	background: rgb(243, 245, 242);
	color: black;
	text-align: center;
}

.label {
	color: rgb(5, 6, 7);
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
