body {
    background: url(./src/pool.jpg) no-repeat center center/cover;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 60%;
    height: 250px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 0 3px;
}

#timer {
    font-size: 72px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 35px;
}

.buttons {
    text-align: center;
}

button {
    margin: 0 10px;
    border: none;
}

button i {
    font-size: 2rem;
    padding: 10px;
    color: white;
    width: 50px;
}

#play{
    background-color: green;
}

#pause{
    background-color: orange;
}

#reset{
    background-color: red;
}